<div class="container mt-3 mb-3">
    <h1>Alta usuarios</h1>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCorreo">Correo Electronico</label>
                <input type="email" class="form-control" placeholder="Email" name="correo" [(ngModel)]="user.email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputContrasena">Contraseña</label>
                <input type="password" class="form-control" placeholder="Password" name="contrasena"
                    [(ngModel)]="user.password">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputUsuario">Usuario</label>
                <input type="text" class="form-control" placeholder="Usuario" name="usuario" [(ngModel)]="user.username">
            </div>
            <div class="form-group col-md-6">
                <label for="inputUsuario">Tipo persona</label>
                <select name="miselect" class="form-control" [(ngModel)]="tipoUser">
                    <option [value]="item.valor" *ngFor="let item of tipoUsuario">{{item.tipo}}</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="altaUsuario()">Guardar</button>
    </form>
</div>