<div class="container mt-3 mb-3">
    <h1>Alta libros</h1>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre</label>
                <input type="text" class="form-control" id="inputNombre" placeholder="Nombre"
                    name="nombre" [(ngModel)]="book.nombre">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">ISBN</label>
                <input type="text" class="form-control" id="inputISBN" placeholder="ISBN"
                    name="isbn" [(ngModel)]="book.isbn">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Autor</label>
            <input type="text" class="form-control" id="inputAutor" placeholder="Autor"
                name="autor" [(ngModel)]="book.autor">
        </div>
        <button type="submit" class="btn btn-primary" (click)="altaLibro()">Guardar</button>
    </form>
</div>