<div class="container">
  <form #loginform="ngForm" (ngSubmit)="loginUser()">
    <div class="alert alert-danger mt-4 text-center" role="alert" *ngIf="show === true">
      {{ msg }}
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" placeholder="Enter email" name="email" 
        [(ngModel)]="user.email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password" 
        [(ngModel)]="user.password">
    </div>
    <button type="submit" class="btn btn-info">Login</button>
  </form>
</div>