<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >Biblioteca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" (click)="mostrarLista()">Inicio<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" (click)="mostrarUsuarios()">Alta Usuarios <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="mostrarLibros()">Alta Libros</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-danger" (click)="logout()">Logout</button>
            </form>
        </div>
    </nav>

    <div class="row justify-content-center mt-3">
        <div class="col-md-10 center-block" style="border: 1px solid #000">
            <div *ngIf="showModuleLibros">
                <app-alta-libros></app-alta-libros>
            </div>
            <div *ngIf="showModuleUsuarios">
                <app-alta-usuarios></app-alta-usuarios>
            </div>
            <div *ngIf="showListaUsuarios">
                <h1 class="text-center">Usuarios</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre Usuario</th>
                            <th scope="col">Tipo Usuario</th>
                            <th scope="col">Correo Electronico</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of usuarios | paginate: { itemsPerPage: 3, id: 'user', currentPage: p }">
                            <th scope="row">1</th>
                            <td>{{ user.username }}</td>
                            <td>{{ user.tipo }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event" id="user"
                    previousLabel="Anterior"
                    nextLabel="Siguiente"></pagination-controls>
                    
                <h1 class="text-center">Libros</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre Libro</th>
                            <th scope="col">ISBN</th>
                            <th scope="col">Autor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of libros | paginate: { itemsPerPage: 3, id: 'book', currentPage: q }">
                            <th scope="row">1</th>
                            <td>{{ book.nombre }}</td>
                            <td>{{ book.isbn }}</td>
                            <td>{{ book.autor }}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="q = $event" id="book"
                    previousLabel="Anterior"
                    nextLabel="Siguiente"></pagination-controls>
            </div>
        </div>
    </div>


</div>